<!DOCTYPE html>
<html>
<head>
	<title>Pet Store</title>
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
 	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
 	<script src="js/app.js"></script>
 	<script src="js/mainController.js"></script>
 	<script src="js/storeController.js"></script>
    <link href="style.css" type="text/css" rel="stylesheet" />
</head>
<body ng-app="myApp" ng-controller="mainController">
<div>
	<div>
	<div ng-hide="loginUser" ><span><a href="#login"><h2>Login</h2></a></span></div>
	<div ng-hide="loginUser" ><span><a href="#signup"><h2>SignUp</h2></a></span></div>
	<div ng-show="loginUser" ><span><a href="#home"><h2>Pet Store</h2></a></span></div>
	<div><span><a ng-click="logout()" href="#"><div ng-show="loginUser"><h2>Logout</h2></div></a></span></div>
	</div>
	<div style="color:red">{{message}}  </div>
	<div>
		<div ng-view>
				
		</div>
	</div>
</div>
</body>
</html>